body, h1, h2 {
	font-family: 'Droid Sans';
}

h1, h2 {
	letter-spacing: -1px;
	font-weight: 700;

}

	h1 a {
		color: inherit;
	}
	
	h1 a:hover {
		text-decoration:none;
	}
	
	footer {
		margin-top: 50px;