<h1>California Micromouse (CAMM) Competition: 2012</h2>
<hr class="featurette-divider">
Joel Chistiansen, <b>President</b><br />
Jarrod Krebs, <b>Vice President</b><br />
Wen Song, <b>Graduate Assistant</b><br />
Kyle McGahee<br />
Richard Habeeb<br />
<br />
<img style='width:40%;' src='images/camm2012/4.jpg' alt='' />
<img style='width:40%;' src='images/camm2012/2.jpg' alt='' />
<img style='width:40%;' src='images/camm2012/3.jpg' alt='' />
<img style='width:40%;' src='images/camm2012/1.jpg' alt='' />

<br />
<br />
<a href="#" onclick="loadPageIntoContent('content/index.html');">Back</a>