<h1>California Micromouse (CAMM) Competition: 2013</h2>
<hr class="featurette-divider">
<h2>Members</h2>
Joel Chistiansen, <b>President</b><br />
Kyle McGahee, <b>Vice President</b><br />
Jarrod Krebs, <b>Treasurer</b><br />
Richard Habeeb<br />
Neeloufar Hadavandi <br />
Garrett Peterson<br />
Dustin Chew<br />
Brandon Miller<br />
<br />

<img style='width:40%;' src='images/camm2013/3.jpg' alt='' />
<img style='width:40%;' src='images/camm2013/2.jpg' alt='' />
<img style='width:40%;' src='images/camm2013/1.jpg' alt='' />
<img style='width:40%;' src='images/camm2013/9.jpg' alt='' />
<img style='width:40%;' src='images/camm2013/5.jpg' alt='' />
<img style='width:40%;' src='images/camm2013/6.jpg' alt='' />
<img style='width:40%;' src='images/camm2013/7.jpg' alt='' />
<img style='width:40%;' src='images/camm2013/8.jpg' alt='' />
<img style='width:40%;' src='images/camm2013/10.jpg' alt='' />
<img style='width:40%;' src='images/camm2013/4.jpg' alt='' />
<br />
<br />
<a href="#" onclick="loadPageIntoContent('content/index.html');">Back</a>