<h1>California Micromouse (CAMM) Competition: 2011</h2>
<hr class="featurette-divider">
Matt Morley, <b>President</b><br />
Cochise Fant, <b>Treasurer</b><br />
Jarrod Krebs
<br />
<br />
<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/GkOpY17EzQk?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/GkOpY17EzQk?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
<br />
<br />
<img style='width:40%;' src='images/camm2011/img_001.jpg' alt='' />
<img style='width:40%;' src='images/camm2011/img_002.jpg' alt='' />
<img style='width:40%;' src='images/camm2011/img_003.jpg' alt='' />
<img style='width:40%;' src='images/camm2011/img_004.jpg' alt='' />
<img style='width:40%;' src='images/camm2011/img_005.jpg' alt='' />
<img style='width:40%;' src='images/camm2011/img_006.jpg' alt='' />
<img style='width:40%;' src='images/camm2011/img_007.jpg' alt='' />
<img style='width:40%;' src='images/camm2011/img_008.jpg' alt='' />

<br />
<br />
<a href="#" onclick="loadPageIntoContent('content/index.html');">Back</a>