			<!-- Three columns of text below the carousel -->
			<div class="row">
				<div class="col-lg-4">
					<img class="img-circle" src="images/2013.jpg" data-src="holder.js/140x140" alt="KSURCT 2013">
					<h2>CAMM 2013</h2>
					<p>We traveled to the University of California: San Diego for <a href='http://ieee.ucsd.edu/micromouse/'>CAMM 2013</a>. We took third place.</p>
					<p><a class="btn btn-default" href="#content/camm2013.html" onclick="loadPageIntoContent('content/camm2013.html');">View details &raquo;</a></p>
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<img class="img-circle" src="images/2012.jpg" data-src="holder.js/140x140" alt="KSURCT 2012">
					<h2>CAMM 2012</h2>
					<p>Check out our trip to UCSD for the Micromouse competition in 2012. We didn't do spectacular, but we learned a lot!</p>
					<p><a class="btn btn-default" href="#content/camm2012.html" onclick="loadPageIntoContent('content/camm2012.html');">View details &raquo;</a></p>
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<img class="img-circle" src="images/2011.jpg" data-src="holder.js/140x140" alt="KSURCT 2011">
					<h2>CAMM 2011</h2>
					<p>KSURCT placed 6th out of 13 teams in the California Micromouse competition at the University of California, San Diego. Full results can be found at <a href="http://ieee.ucsd.edu/micromouse/results.php" target="_blank">UCSD IEEE</a></p>
					<p><a class="btn btn-default" href="#content/camm2011.html" onclick="loadPageIntoContent('content/camm2011.html');">View details &raquo;</a></p>
				</div><!-- /.col-lg-4 -->
			</div><!-- /.row -->
			
			<!-- START THE FEATURETTES -->

			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading">Once Battlebots, <span class="text-muted">now mazes.</span></h2>
					<p class="lead">We started as a group of students interested in Battlebots. That show is now off the air, and the grass roots organization that started it has come back to life.  After two years, we wanted expanded to other robotic competitions and haven't looked back since.</p>
				</div>
				<div class="col-md-5">
					<img class="featurette-image img-responsive" src="images/robot2013.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
				</div>
			</div>

			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-5">
					<img class="featurette-image img-responsive" src="images/robot2011.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
				</div>
				<div class="col-md-7">
					<h2 class="featurette-heading">Custom designed <span class="text-muted">Micromouse.</span></h2>
					<p class="lead">Ever since 2011 we have been going to the California Micromouse (CAMM) Competition. The robots we design solve mazes, with luck.</p>
				</div>
			</div>

			<hr class="featurette-divider">

			<div class="row featurette" id='join_us'>
				<div class="col-md-7">
					<h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
					<p class="lead">We meet on Thursdays at 7:00 our lab is in Rathbone 0044. Membership is open to all students of Kansas State University. The only prerequisites are the desire to build, and the desire to learn!</p>
				</div>
				<div class="col-md-5">
					<img class="featurette-image img-responsive" src="images/pcb.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
				</div>
			</div>



			<!-- /END THE FEATURETTES -->
